@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.bg-gradient-custom {
  background: linear-gradient(90.63deg, #f0d3e6 21.32%, #d1dfef 132.04%);
}
.step__item:nth-child(1) img {
  right: -125px;
  top: 15px;
}
.step__item:nth-child(2) img {
  right: -125px;
  top: 70px;
}
.step__item:nth-child(3) img {
  right: -125px;
  top: 10px;
}

/* Scrollbar Hide */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.page-break-inside-avoid {
  page-break-inside: avoid;
}

@media print {
  .cv-page {
    page-break-after: always;
  }
}
